/*
 * Gmail RightTasks Extension
 * Adds your Tasks to the right side in Gmail
 * 
 * (c) Ionut Colceriu - https://github.com/ghinda
 * 
 */

.AO {
	margin-right: 220px;
}

.gmail-righttasks-container {
	position: absolute !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 0;
}

.gmail-righttasks {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	height: 100% !important;
	width: 220px !important;
	
	border: 0;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gmail-righttasks .Ed {
	height: 100% !important;
}

.gmail-righttasks .nH[style] {
	height: 100% !important;
}

.gmail-righttasks .nH.Hd {
	box-shadow: none;
}

.gmail-righttasks table img[data-tooltip] {
	display: none;
}

#tasksiframe {
	width: 100%;
}

/* Tasks Iframe */
.tasks-frame body > iframe + div,
.tasks-frame body > iframe + div > .VY,
.tasks-frame body > iframe + div > .VY div:nth-child(3),
.tasks-frame .Ed {
	position: relative;
	height: 100% !important;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.tasks-frame body > iframe + div {
	padding-bottom: 35px;
}

.tasks-frame body > iframe + div > .VY .DJ {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;

	display: block;
	height: 35px;
	width: 100%;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

