/*
 * Gmail RightTasks Extension
 * Adds your Tasks to the right side in Gmail
 * 
 * (c) Ionut Colceriu - https://github.com/ghinda
 * 
 */

.AO {
	margin-right: 220px;
}

.gmail-righttasks {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;

	height: 100% !important;
	width: 220px !important;
	
	border: 0;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gmail-righttasks .Ed {
	height: 100% !important;
}

.gmail-righttasks .nH[style] {
	height: 100% !important;
}
	